.navbar {
  background-color: rgb(189, 238, 222);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btn-main {
  width: 5%;
}
